@inject YahooFantasyWrapper.Client.IYahooAuthClient AuthClient;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yahoo Fantasy Console</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">Yahoo Fantasy Console</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Game<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Game Resource</li>
                            <li><a asp-page="/Resource/Game/Meta">Meta</a></li>
                            <li><a asp-page="/resource/game/leagues">Leagues</a></li>
                            <li><a asp-page="/resource/game/players">Players</a></li>
                            <li><a asp-page="/resource/game/gameweeks">Game Weeks</a></li>
                            <li><a asp-page="/resource/game/statcategories">Stat Categories</a></li>
                            <li><a asp-page="/resource/game/positiontypes">Position Types</a></li>
                            <li><a asp-page="/resource/game/rosterpositions">Roster Positions</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Games Collection</li>
                            <li><a asp-page="/collection/games/Index">Games</a></li>
                            <li><a asp-page="/collection/games/user">User</a></li>
                            <li><a asp-page="/collection/games/userFetch">User Games</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">League<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">League Resource</li>
                            <li><a asp-page="/resource/league/meta">Meta</a></li>
                            <li><a asp-page="/resource/league/settings">Settings</a></li>
                            <li><a asp-page="/resource/league/standings">Standings</a></li>
                            <li><a asp-page="/resource/league/scoreboard">Scoreboard</a></li>
                            <li><a asp-page="/resource/league/teams">Teams</a></li>
                            <li><a asp-page="/resource/league/draft_results">Draft Results</a></li>
                            <li><a asp-page="/resource/league/transactions">Transactions</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Leagues Collection</li>
                            <li><a asp-page="/collection/leagues/fetch">Leagues</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Player<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Player Resource</li>
                            <li><a asp-page="/resource/player/meta">Meta</a></li>
                            <li><a asp-page="/resource/player/stats">Stats</a></li>
                            <li><a asp-page="/resource/player/ownership">Ownership</a></li>
                            <li><a asp-page="/resource/player/percent_owned">Percent Owned</a></li>
                            <li><a asp-page="/resource/player/draft_analysis">Draft Analysis</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Players Collection</li>
                            <li><a asp-page="/collection/players/fetch">Players</a></li>
                            <li><a asp-page="/collection/players/leagues">League Players</a></li>
                            <li><a asp-page="/collection/players/teams">Team Players</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Roster<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Roster Resource</li>
                            <li><a asp-page="/resource/roster/players">Players</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Team<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Team Resource</li>
                            <li><a asp-page="/resource/team/meta">Meta</a></li>
                            <li><a asp-page="/resource/team/stats">Stats</a></li>
                            <li><a asp-page="/resource/team/standings">Standings</a></li>
                            <li><a asp-page="/resource/team/roster">Roster</a></li>
                            <li><a asp-page="/resource/team/draft_results">Draft Results</a></li>
                            <li><a asp-page="/resource/team/matchups">Matchups</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Teams Collection</li>
                            <li><a asp-page="/collection/teams/fetch">Teams</a></li>
                            <li><a asp-page="/collection/teams/leagues">League Teams</a></li>
                            <li><a asp-page="/collection/teams/games">User Games Teams</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Transaction<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Transaction Resource</li>
                            <li><a asp-page="/resource/transaction/meta">Meta</a></li>
                            <li><a asp-page="/resource/transaction/players">Players</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Transactions Collection</li>
                            <li><a asp-page="/collection/transactions/add_player">Add Player</a></li>
                            <li><a asp-page="/collection/transactions/drop_player">Drop Player</a></li>
                            <li><a asp-page="/collection/transactions/adddrop_player">Add/Drop Player</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">User<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">User Resource</li>
                            <li><a asp-page="/resource/user/games">Games</a></li>
                            <li><a asp-page="/resource/user/game_leagues">Leagues</a></li>
                            <li><a asp-page="/resource/user/game_teams">Teams</a></li>
                        </ul>
                    </li>
                    @if (AuthClient.UserInfo != null)
                    {
                        <li>
                            <a asp-page="/Interactive">Interactive</a>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; 2017 - Isaac Levin</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('li').each(function () {
                $(this).removeClass('active');
            });
            var element = $('ul.nav.navbar-nav').find('a[href="' + location.pathname + '"]').closest('li');
            if (element !== undefined && element !== null) {
                if (element[0].innerHTML.indexOf('Home') > -1 || element[0].innerHTML.indexOf('Interactive') > -1 ) {
                    element[0].className += ' active';
                }
                else {
                    element[0].parentElement.parentElement.className += ' active';
                }
            }
        });
    </script>
</body>
</html>
