################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/YahooFantasyWrapper/obj
/src/.vs/YahooFantasyWrapper/v15/Server/sqlite3
/src/packages
/src/TestWebProject/bin
/src/TestWebProject/obj
/src/YahooFantasyWrapper/bin/Debug/netstandard2.0
/src/YahooFantasyWrapper/packages
/src/YahooFantasyWrapper/bin/Release
/src/.vs/config
/src/YahooFantasyWeb/bin
/src/YahooFantasyWeb/obj
*.user
/src/YahooFantasyWrapper.Web/ClientApp/package-lock.json
/src/YahooFantasyWrapper.Web/web.config
/src/YahooFantasyWrapper.Web/appsettings.Development.json
/src/YahooFantasyWrapper.Web/appsettings.Production.Development.json
/src/YahooFantasyWrapper.Web/appsettings.Production.json
*.nupkg
*.dtbcache
tools
artifacts