<h1>Yahoo! Fantasy Console</h1>
<p>
  This is a website that leverages the Yahoo! <a href="https://www.nuget.org/packages/YahooFantasyWrapper" target="_blank">Fantasy Sports Wrapper Nuget Package</a>. This package is a .NET Standard 2.0 Wrapper for the <a href="https://developer.yahoo.com/fantasysports/guide/index.html">Yahoo Fantasy Sports API</a>.
</p><p>
  The API is designed to act as a helper for those interacting with the Y! Fantasy API.
  The goal is to get acquainted with the Api and show how the wrapper can help with the exisitng painpoints with the Api. 
</p>
<h2>Setup</h2>
<p>Login to this app (your username and password is not saved, all that this collects is your public Yahoo! profile and a token to make subsequent Api calls)</p>
<p>
  For more information on this package, take a look at the public <a href="https://github.com/isaac2004/YahooFantasyWrapper" target="_blank">GitHub Repo</a>.
</p>

<h2>License</h2><p>This package is available under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence</a></p>
<h2>Bugs &amp; Issues</h2>
<p>
  Please report any issues via the <a href="https://github.com/isaac2004/YahooFantasyWrapper/issues" target="_blank">GitHub issues page</a>.
</p>

