

@inject YahooFantasyWrapper.Client.IYahooAuthClient AuthClient;

@if (AuthClient.UserInfo != null)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="user clearfix dropdown-toggle" href="#" data-toggle="dropdown">
                    <div class="name">
                        @AuthClient.UserInfo.Profile.Nickname
                    </div>
                    <div class="avatar">
                        <img src="@AuthClient.UserInfo.Profile.Image.ImageUrl" />
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <link-button>Log Out</link-button>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <form asp-controller="Account" asp-action="Login" method="post" id="loginForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn login-btn">Log In</button>
            </li>
        </ul>
    </form>
}